# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual Environment
venv/
.venv/

# PyInstaller
build/
dist/
*.spec.bak

# IDE
.vscode/
.idea/

# Logs
logs/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Secrets / Credentials
*.key
*.pem
.env

# Selenium
chromedriver.exe
geckodriver.exe

# Output
output/

# Generated thumbnails (keep base template)
assets/thumbnail/
!assets/thumbnail/base.png
